<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{ else }}
        <meta property="og:type" content="website" />
    {{ end }}

        <title>{{ if ne .URL "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}</title>

    {{ if .Description }}
        <meta name="description" content="{{ .Description }}" />
    {{ else }}
        <meta name="description" content="{{ .Site.Params.description }}" />
    {{ end }}

        <meta name="p:domain_verify" content="fc173d84e3a4de948ed4bda2908afd3e"/>
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    {{ partial "criticalpath.html" . }}
    </head>
    <body>
        <header id="header">
            <a id="logo" href="{{ .Site.BaseURL }}"><img src="https://avatars1.githubusercontent.com/u/228410?v=3&s=460" alt="{{ .Site.Title }}" /></a>
            <h1><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a></h1>
            <p>{{.Description}}</p>

            {{ partial "follow.html" . }}
            {{ partial "navigation.html" . }}
        </header>
